<!-- templates/fragments/sidebar.html -->
<div th:fragment="sidebar" class="sidebar">
  <div class="sidebar-header">
    <h2>AgroManage</h2>
  </div>
  <ul class="sidebar-menu">
    <li><a th:href="@{/employees/add}">👤 Зарегистрировать сотрудника</a></li>
    <li><a th:href="@{/employees/list}">📋 Список сотрудников</a></li>
<!--    <li><a th:href="@{/machinery/list}">🚜 Техника</a></li>-->
    <li><a th:href="@{/employees/work-time/add}">⏱ Учёт рабочего времени</a></li>
      <li><a th:href="@{/employees/work-time/list}">История работ</a></li>
      <li><a th:href="@{/field-plantings/add}">Внести посев</a></li>
  </ul>
</div>

