<div th:fragment="sidebar" class="sidebar">
  <div class="sidebar-header">
    <h2>АгроКолос</h2>
  </div>
  <ul class="sidebar-menu">
    <li><a th:href="@{/employees/add}">👤 Зарегистрировать сотрудника</a></li>
    <li><a th:href="@{/employees/list}">📋 Список сотрудников</a></li>
    <li><a th:href="@{/work-record/add}">⏱ Запланировать работу</a></li>
      <li><a th:href="@{/work-record/list}">Работы</a></li>
      <li><a th:href="@{/field-plantings/add}">Внести посев</a></li>
      <li><a th:href="@{/fields/list}">Поля</a></li>
      <li><a th:href="@{/machineries/add}">Добавить технику</a></li>
      <li><a th:href="@{/machineries/list}">🚜 Техника</a></li>
      <li><a th:href="@{/equipment/add}">Добавить оборудование</a></li>
      <li><a th:href="@{/equipment/list}">Оборудование</a></li>
<!--      <li><a th:href="@{/equipment/list}">Заработок</a></li>-->
  </ul>
</div>

