body {
    font-family: "Inter", sans-serif;
    margin: 0;
    background-color: #f8f9fa;
}

.main-content {
    margin-left: 240px;
    padding: 60px;
}

h1 {
    color: #2e7d32;
    margin-bottom: 15px;
}

p {
    color: #555;
    font-size: 18px;
}
